.loginPageMain{
  width: 100%;
  height: 100%;
  flex-direction: row;
}

.loginPageChart{
  height: 100%;
  width: 50%;
}

.loginPageLoginDiv{
  height: 100%;
  width: 50%;
}

.loginPageLoginLogin{

}
