<div class="loginPageMainDiv">
  <div class="loginPageLoginDiv">
    <div class="loginPageLoginTitle">
      {{ logIn ? 'Sign in' : 'Sign up' }}
    </div>
    <div class="loginPageLoginSwitch">
      <div class="loginPageLoginSwitchOptions">
        <p style="color: var(--MainDefault)">Sign in</p>
        <p style="color: var(--MainDefault)">Sign up</p>
      </div>
      <div class="loginPageLoginSwitchBarDiv">
        <div class="loginPageLoginSwitchBar"></div>
      </div>
    </div>
  </div>
</div>

