<div class="loginPageMainDiv">
  <div class="loginPageDataHalf">
  </div>
  <div class="loginPageLoginHalf">
    <div class="loginPageLoginDiv">
      <div class="loginPageTitleDiv"><p class="loginPageTitle">{{ logIn ? 'Sign up' : 'Sign in' }}</p></div>

      <div class="loginPageTabs" >
          <tab-group color="var(--MainDefault)" style="width: 100%" (index)="indexHandler($event)">
            <app-tab label="Sign in">
              <div class="loginPageLoginSubmit">
                  <inputField class="loginPageLoginSubmitInput">Email</inputField>
                  <inputField class="loginPageLoginSubmitInput" [password]="true">Password</inputField>
                  <checkbox label="Remember me" class="loginPageLoginSubmitCheckbox">Test</checkbox>
                  <div class="loginPageLoginSubmitButtonDiv">
                    <buttonC>Sign in</buttonC>
                  </div>
              </div>

            </app-tab>
            <app-tab label="Sign up">
              <div>
                <checkbox></checkbox>
              </div>
            </app-tab>
          </tab-group>
      </div>
    </div>
  </div>
</div>

