.optionSwitchMainDiv {
  position: relative;
  display: flex;
  flex-wrap: wrap; /* Added flex-wrap property */
  justify-content: flex-start; /* Adjust as needed */
}

.optionSwitchOptions {
  width: 100%;
  display: flex;
  flex-wrap: wrap; /* Added flex-wrap property */
}

.optionSwitchBar {
  height: 3px;
  border-radius: 8px;
  left: 0;
  top: 0;
  transition: width 0.3s ease, left 0.3s ease;
  position: relative;
}

.optionSwitchOption {
  padding: 0 1px;
  cursor: pointer;
  flex: 0 0 auto; /* Added to ensure items don't grow */
  white-space: nowrap; /* Prevent wrapping of text */
}

p {
  font-size: 18px;
  padding: 0 5px;
  margin: 0; /* Added to reset default margin */

  &:hover {
    transform: scale(1.05);
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  }
}

.optionSwitchSelected {
  p {
    &:hover {
      font-size: 18px;
      text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    }
  }
}
