html,
body{
  height: 100%;
  width: 100%;
  background-color: var(--Background);
}

div{
  display: inline-flex;
}

app-login-page{
  display: flex;
  height: 100%;
}



button{
  height: 40px;
  background-color: var(--MainDefault);
  padding: 0 20px;
  border-radius: 15px;
  color: var(--DivBackground);
  border: none;
}

app-input-field{
  display: inline-flex;
  height: 60px;
  width: auto;
  flex: 0 0 auto;
  max-width: 400px;
  justify-content: flex-start;
  align-items: center;
  background: none;
}
