.tabGroupUl{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  list-style: none;
  padding: 0;
}

li{
  height: 29px;
  display: flex;
  align-content: center;
  flex-wrap: wrap;
}

p{

  &:hover{
    font-size: 19px;

  }
}
