.homePageMainDiv{
  height: 100%;
  width: 100%;
  padding: 50px 50px 0 50px;
  display: flex;
  gap: 50px;
  flex-direction: column;

  h1{
    text-wrap: wrap;
  }
}

.homePageTitle{
  font-size: 64px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  color: var(--MainDefault);
}

.homePageRecentActivities{
  width: 100%;
  display: flex;
  justify-content: flex-start;
  gap: 25px;
}

.homePageNextAppointments{
  display: inline-flex;
  background-color: var(--DivBackground);
  border-radius: 15px;
  padding: 50px;
  flex-direction: column;
  gap: 25px;
}

.homePageTitleSmaller{
  color: var(--MainDefault);
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
